.index
  .hero
    +bg-image('/assets/images/hero-image.jpg')
    padding-top: 12rem
    padding-bottom: 16rem
    position: relative
    +breakpoint(small only)
      padding-top: 12rem
      padding-bottom: 12rem
    color: white
    .headline
      text-transform: uppercase
      text-shadow: -4px 4px 8px rgba(0, 0, 0, 0.3)
    .sub-headline
      font-size: 1.5rem
      +breakpoint(small only)
        font-size: 1.2rem
  .second-panel
    margin-top: 3rem
  .oliver-panel
    .video-container
      background: black
    .blockquote
      font-weight: bold
      cite
        color: black
        margin-top: 0.5rem
        font-weight: normal
  .orgs-panel
    .org-cards
      margin-bottom: 3rem
    .org-card
      overflow-y: scroll
      overflow-x: hidden
  .contribute-other.link
    font-size: 0.85rem
  .faqs-panel
    background: $light-gray
    padding-top: 7rem
    padding-bottom: 8rem
    .headline
      margin-top: 0
    .faq-items
      list-style: none
    .faq-item
      margin-bottom: 1rem
    .faq-question
      font-weight: bold

footer.footer
  // background: $light-gray
  // color: $gray
  padding-top: 7rem
  padding-bottom: 6rem
  .footer-content
    margin: 0
