<!-- COMMON TAGS -->
meta content="IE=edge" http-equiv="X-UA-Compatible"
meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'
meta charset='utf-8'
title The Love Fund | Contribute to charities fighting for love with monthly donations
<!-- Search Engine -->
<meta name="description" content="The Love Fund helps you contribute to non-profits fighting against the policies of the current administration with monthly donations">
<meta name="image" content="http://d19jkx2rynrln8.cloudfront.net/lovefund/lovefund_meta_image.png">
<!-- Schema.org for Google -->
<meta itemprop="name" content="The Love Fund | Contribute to charities fighting for love with monthly donations">
<meta itemprop="description" content="The Love Fund helps you contribute to non-profits fighting against the policies of the current administration with monthly donations">
<meta itemprop="image" content="http://d19jkx2rynrln8.cloudfront.net/lovefund/lovefund_meta_image.png">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="The Love Fund | Contribute to charities fighting for love with monthly donations">
<meta name="twitter:description" content="The Love Fund helps you contribute to non-profits fighting against the policies of the current administration with monthly donations">
<meta name="twitter:image:src" content="http://d19jkx2rynrln8.cloudfront.net/lovefund/lovefund_meta_image.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="The Love Fund | Contribute to charities fighting for love with monthly donations">
<meta name="og:description" content="The Love Fund helps you contribute to non-profits fighting against the policies of the current administration with monthly donations">
<meta name="og:image" content="http://d19jkx2rynrln8.cloudfront.net/lovefund/lovefund_meta_image.png">
<meta name="og:url" content="https://thelove.fund">
<meta name="og:site_name" content="The Love Fund">
<meta name="og:locale" content="en_US">
<meta name="og:type" content="website">

